@import './assets/application.scss';

.ngx-overlay.loading-foreground {
    background-color: rgb(40, 40, 40)!important;
}

app-root {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}


html, body {
    width: 100%;
    height: 100%;
}

app-latest {
    flex-basis: 40%;
}